.navigation .ui-menu-item{
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
}
.navigation .ui-menu-item a{
	padding-left: 12px;
	padding-right: 12px;
	color: #794543;
}
.navigation .ui-menu-item a:visited{
	color: #500d0f;
}
.cms-page-view img{
    padding-left: 15px;
 	padding-right: 15px;
}



.authorization-link{
	display: inline-block;
    position: relative;
    float: right;
	margin-left: 13px;
	margin-top: 0px;
}

.authorization-link .action{
	cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.authorization-link .action:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 28px;
    color: #757575;
    content: '\e627';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}